<%- include ./partials/head.ejs %>

<h1> <%- overviewtitle %> </h1>

<div id="imgresults"></div>

<%- include ./partials/head.ejs %>

<h1>Posts</h1>
<% overview_output.forEach(function(post) { %>
	<a href="/post/<%- post.id %>"><%- post.title %></a>
<% }) %>

<%- include ./partials/footer.ejs %>

  <!-- var imgresults = document.querySelector('#imgresults');

  for (var i = 0; i < data.data.length; i++) {

    var link = document.createElement('a');
    var image = document.createElement('img');
    image.setAttribute('src', 'https://media.giphy.com/media/'+ data.data[i].id + '/giphy.gif');
    link.setAttribute('href', '/detail/'+ data.data[i].id);
    // imgresults.appendChild(image);
    imgresults.appendChild(link);
    link.innerHTML = '<img src="' + image.src + ' "/> '; -->
